# This file only contains the high-level development dependencies without a
# pinned version. Regenerate dev-requirements.txt by running
# ./tools/refreeze-requirements.sh

-r requirements.txt

pylint
pytest
pytest-cov
watchdog[watchmedo]
