# This file only contains the high-level development dependencies without a
# pinned version. Install to a fresh virtualenv and freeze to
# dev-requirements.txt

-r requirements.txt

pylint
pytest
pytest-cov
watchdog[watchmedo]
