# This file only contains the high-level dependencies without a pinned version.
# Install to a fresh virtualenv and freeze to generate updated requirements.txt

google-cloud-storage
hvac
libhoney
requests
